<app-navbar></app-navbar>

<div class="w-full min-h-[calc(100vh-60px)] mt-[60px] pt-12 pb-6 px-[5%] relative">

  <h1>User</h1>

  <div *ngIf="confirmMessage || errorMessage"
    class="fixed top-0 left-0 z-[1] w-full h-screen flex justify-center items-center">
    <mat-card>
      <mat-card-content [ngClass]="{'text-green-500': confirmMessage, 'text-red-500': errorMessage}">
        {{confirmMessage ? confirmMessage : errorMessage}}
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="user.id" class="mt-10 mb-9">

    <p class="flex justify-start items-start">
      <span class="text-[#c2185b] break-all mr-1">ID: &nbsp;</span>
      <span class="break-all">{{user.id}}</span>
    </p>
    <p class="flex justify-start items-start">
      <span class="text-[#c2185b] break-all mr-1">Name: &nbsp;</span>
      <span class="break-all">{{user.name}}</span>
    </p>
    <p class="flex justify-start items-start">
      <span class="text-[#c2185b] break-all mr-1">Email: &nbsp;</span>
      <span class="break-all">{{user.email}}</span>
    </p>
    <p class="flex justify-start items-start">
      <span class="text-[#c2185b] break-all mr-1">Gender: &nbsp;</span>
      <span class="break-all">{{user.gender}}</span>
    </p>
    <p class="flex justify-start items-start">
      <span class="text-[#c2185b] break-all mr-1">Status: &nbsp;</span>
      <span class="break-all">{{user.status}}</span>
    </p>

    <div *ngIf="posts.length > 0" class="mt-10">

      <h2>Posts <span>({{posts.length}})</span></h2>

      <div class="my-5" *ngFor="let post of posts">
        <mat-divider></mat-divider>

        <article class="mt-5">
          <h3>{{post.title}}</h3>
          <p>{{post.body}}</p>
        </article>

        <div class="flex flex-col md:flex-row justify-start items-start">
          <div class="w-full md:w-1/2 pt-4 md:pr-2">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Add Comment
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <form [formGroup]="commentForm">
                  <mat-form-field class="w-full max-w-[250px]">
                    <mat-label>Name</mat-label>
                    <input matInput value="" type="text" formControlName="name">
                  </mat-form-field>

                  <mat-form-field class="w-full max-w-[250px]">
                    <mat-label>Email</mat-label>
                    <input matInput value="" type="email" formControlName="email">
                  </mat-form-field>

                  <div>
                    <mat-form-field class="w-full max-w-[500px]">
                      <mat-label>Comment</mat-label>
                      <textarea matInput type="text" formControlName="body"></textarea>
                    </mat-form-field>
                  </div>
                  <button type="submit" mat-raised-button color="primary" [disabled]="!commentForm.valid"
                    (click)="addComment(post.id)">
                    <mat-icon>add</mat-icon>
                  </button>
                </form>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div *ngIf="post.comments.length > 0" class="w-full md:w-1/2 pt-4 md:pl-4">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Comments ({{post.comments.length}})
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let comment of post.comments" class="pt-3">
                  <div class="text-gray-400">
                    <small>{{ comment.name }}</small>
                    &nbsp;
                    <small>{{ comment.email }}</small>
                  </div>
                  <p class="">{{comment.body}}</p>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div *ngIf="!spinner && !post.comments.length && noCommentsMessage" class="w-full md:w-1/2 pt-4 md:pl-4">
            <div
              class="w-full h-[48px] flex justify-start items-center px-[24px] bg-[#424242] rounded-[4px] box_shadow">
              {{noCommentsMessage}}
            </div>
          </div>
        </div>

      </div>

    </div>

    <div *ngIf="!spinner && !posts.length && noPostsMessage" class="mt-10">
      <p>{{noPostsMessage}}</p>
    </div>

    <div *ngIf="spinner" class="fixed top-0 left-0 z-[1] w-full h-screen flex justify-center items-center">
      <mat-spinner></mat-spinner>
    </div>

  </div>
