<app-navbar></app-navbar>

<div class="w-full min-h-[calc(100vh-60px)] mt-[60px] pt-12 pb-6 px-[5%] relative">

  <h1>User</h1>

  <div *ngIf="confirmMessage || errorMessage"
    class="fixed top-0 left-0 z-[1] w-full h-screen flex justify-center items-center">
    <mat-card>
      <mat-card-content [ngClass]="{'text-green-500': confirmMessage, 'text-red-500': errorMessage}">
        {{confirmMessage ? confirmMessage : errorMessage}}
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="user.id" class="my-10">

    <p> <span class="text-[#c2185b] break-words">ID:</span> {{user.id}} </p>
    <p> <span class="text-[#c2185b] break-words">Name:</span> {{user.name}} </p>
    <p> <span class="text-[#c2185b] break-words">Email:</span> {{user.email}} </p>
    <p> <span class="text-[#c2185b] break-words">Gender:</span> {{user.gender}} </p>
    <p> <span class="text-[#c2185b] break-words">Status:</span> {{user.status}} </p>

    <div *ngIf="posts.length > 0" class="mt-10">

      <h2>Posts <span>({{posts.length}})</span></h2>

      <div class="my-5" *ngFor="let post of posts">
        <mat-card>
          <mat-card-content>
            <h3>{{post.title}}</h3>
            <p>{{post.body}}</p>
          </mat-card-content>
        </mat-card>

        <div class="flex flex-col md:flex-row justify-start items-start">
          <div class="w-full md:w-1/2 p-4">
            <button (click)="toggleForm(post.id)" class="flex justify-start items-center">
              <span>Add Comment</span>
              <mat-icon>{{!hideForm[post.id] ? 'expand_more' : 'expand_less'}}</mat-icon>
            </button>
            <div [ngClass]="{'hidden mt-4': !hideForm[post.id], 'block mt-4': hideForm[post.id]}">
              <form [formGroup]="commentForm">
                <mat-form-field class="min-w-[250px]">
                  <mat-label>Name</mat-label>
                  <input matInput value="" type="text" formControlName="name">
                </mat-form-field>

                <mat-form-field class="min-w-[250px]">
                  <mat-label>Email</mat-label>
                  <input matInput value="" type="email" formControlName="email">
                </mat-form-field>

                <div>
                  <mat-form-field class="w-full min-w-[250px] max-w-[500px]">
                    <mat-label>Comment</mat-label>
                    <textarea matInput type="text" formControlName="body"></textarea>
                  </mat-form-field>
                </div>
                <button type="submit" mat-raised-button color="primary" [disabled]="!commentForm.valid"
                  (click)="addComment(post.id)">
                  <mat-icon>add</mat-icon>
                </button>
              </form>
            </div>
          </div>

          <div *ngIf="post.comments.length > 0" class="w-full md:w-1/2 p-4">
            <button (click)="toggleComments(post.id)" class="flex justify-start items-center">
              <span>Comments ({{post.comments.length}})</span>
              <mat-icon>{{!hideComments[post.id] ? 'expand_more' : 'expand_less'}}</mat-icon>
            </button>
            <div *ngFor="let comment of post.comments"
              [ngClass]="{'hidden mt-4': !hideComments[post.id], 'block mt-4': hideComments[post.id]}">
              <span>
                <small class=" break-words">
                  <span class="text-[#c2185b]">
                    {{ comment.name }}</span> -
                  <span class="text-[#c2185b]">
                    {{ comment.email }}
                  </span> </small>
              </span>
              <p>
                {{comment.body}}
              </p>
            </div>
          </div>

          <div *ngIf="!spinner && !post.comments.length && noCommentsMessage" class="w-full md:w-1/2 p-4">
            There are no comments associated with this post
          </div>
        </div>

        <mat-divider></mat-divider>
      </div>

    </div>

    <div *ngIf="!spinner && !posts.length && noPostsMessage" class="mt-10">
      <p>{{noPostsMessage}}</p>
    </div>

    <div *ngIf="spinner" class="fixed top-0 left-0 z-[1] w-full h-screen flex justify-center items-center">
      <mat-spinner></mat-spinner>
    </div>

  </div>
