<div class="w-full h-screen py-12 px-[5%] flex flex-col relative">

  <div class="w-full m-auto mb-0 flex flex-col justify-center items-center">
    <h1>Angular Gorest App</h1>
    <h2>Login</h2>
    <p>
      Click <a href=" https://gorest.co.in/consumer/login" target="_blank" rel="noopener noreferrer nofollow"
        class="text-[#c2185b] hover:underline">here</a> to get your access token
    </p>
    <p *ngIf="errorMessage && loginForm.value.token.trim()!== ''" class="text-[#f44336]">
      {{ errorMessage }}
    </p>
  </div>

  <div class="w-full m-auto mt-0 text-center">
    <form [formGroup]="loginForm">
      <mat-form-field class="w-full max-w-[550px]">
        <mat-label>Token</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="token" (click)="onInput()"
          (keyup)="onKeyUp($event)">
        <button mat-icon-button matSuffix [attr.aria-label]="'Hide token'" [attr.aria-pressed]="hide">
          <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid"
        (click)="onSubmit()">Login</button>
    </form>
  </div>

  <div *ngIf="spinner" class="fixed top-0 left-0 z-[1] w-full h-screen flex justify-center items-center">
    <mat-spinner></mat-spinner>
  </div>

</div>
