<app-navbar></app-navbar>

<div class="w-full min-h-[calc(100vh-60px)] mt-[60px] pt-12 pb-6 px-[5%] relative">

  <h1>Users</h1>

  <div *ngIf="confirmMessage || errorMessage"
    class="fixed top-0 left-0 z-[2] w-full h-screen flex justify-center items-center">
    <mat-card>
      <mat-card-content [ngClass]="{'text-green-500': confirmMessage, 'text-red-500': errorMessage}">
        {{confirmMessage ? confirmMessage : errorMessage}}
      </mat-card-content>
    </mat-card>
  </div>

  <div class="my-10">
    <small>Add New User</small>
    <form [formGroup]="userForm" #formDirective="ngForm">

      <mat-form-field class="min-w-[250px]">
        <mat-label>Name</mat-label>
        <input matInput value="" type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field class="min-w-[250px]">
        <mat-label>Email</mat-label>
        <input matInput value="" type="email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option></mat-option>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option></mat-option>
          <mat-option value="active">Active</mat-option>
          <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>

      <span class="mr-4"></span>
      <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid"
        (click)="addUser(formDirective)">
        <mat-icon>add</mat-icon>
      </button>
    </form>
  </div>

  <div class="mt-10">
    <mat-form-field class="w-full min-w-[250px] max-w-[500px]">
      <mat-label>Search for the user by name</mat-label>
      <input matInput (input)="getUsers()" [(ngModel)]="searchName">
      <button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchName" (click)="clearName()">
        <small>&#x2715;</small>
      </button>
    </mat-form-field>
  </div>

  <div class="mb-10">
    <mat-form-field class="w-full min-w-[250px] max-w-[500px]">
      <mat-label>Search for the user by email</mat-label>
      <input matInput (input)="getUsers()" [(ngModel)]="searchEmail">
      <button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchEmail" (click)="clearEmail()">
        <small>&#x2715;</small>
      </button>
    </mat-form-field>
  </div>

  <div *ngIf="users.length > 0" class="my-10">
    <p><span class="text-[#c2185b]">Page:</span> {{currentPage}} of {{pages}}</p>
    <div class="mb-2"></div>
    <p><span class="text-[#c2185b]">Results:</span> {{paginationResults()}}</p>
  </div>

  <div *ngIf="users.length === 0 && !spinner" class="my-10">
    <p>No results found</p>
  </div>

  <div *ngIf="users.length > 0" class="my-10">
    <button (click)="previousPage()" mat-raised-button color="primary" [disabled]="currentPage === 1">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="mr-4"></span>
    <button (click)="nextPage()" mat-raised-button color="primary"
      [disabled]="this.users.length !== this.resultsPerPage ">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>

  <div *ngIf="users.length > 0" class="mt-10">
    <ul>
      <li *ngFor="let user of users" class="mb-6 flex justify-start items-center">
        <div class="flex">
          <div class="m-auto mr-4 mb-[12px]">
            <button mat-raised-button (click)="deleteUser(user.id)" [disabled]="disabled">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="whitespace-break-spaces">
          <a [routerLink]="['/users', user.id]" class="flex flex-wrap hover:underline underline-offset-2">
            <p class="flex">
              <span class="text-[#c2185b]">Name: </span>
              <span class="break-all">{{ user.name }} &nbsp; &nbsp;</span>
            </p>
            <p class="flex">
              <span class="text-[#c2185b]">Email: </span>
              <span class="break-all">{{ user.email }}</span>
            </p>
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="spinner" class="fixed top-0 left-0 z-[3] w-full h-screen flex justify-center items-center">
    <mat-spinner></mat-spinner>
  </div>

</div>
