<app-navbar></app-navbar>

<div class="w-full min-h-[calc(100vh-60px)] mt-[60px] py-12 px-[5%] relative">

  <h1>Users</h1>

  <div *ngIf="confirmMessage || errorMessage" class="w-full md:w-1/2 my-10">
    <mat-card>
      <mat-card-content [ngClass]="{'text-green-500': confirmMessage, 'text-red-500': errorMessage}">
        {{confirmMessage ? confirmMessage : errorMessage}}
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="users.length > 0" class="my-10">
    <ul>
      <li *ngFor="let user of users" class="mb-6 flex justify-start items-center">
        <div class="flex">
          <div class="m-auto mr-4 mb-[12px]">
            <button mat-raised-button (click)="deleteUser(user.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="whitespace-break-spaces">
          <a [routerLink]="['/users', user.id]" class="flex flex-wrap hover:underline underline-offset-2">
            <p class="flex">
              <span class="text-[#c2185b]">Name: </span>
              <span class="break-all">{{ user.name }} &nbsp; &nbsp;</span>
            </p>
            <p class="flex">
              <span class="text-[#c2185b]">Email: </span>
              <span class="break-all">{{ user.email }}</span>
            </p>
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="spinner" class="spinner-container w-full h-screen top-0 left-0 z-[1] flex justify-center items-center">
    <mat-spinner></mat-spinner>
  </div>

</div>
